/*  your css code here. If applicable */
.mb-0{
	color: #3b99e0;
	align-item:center;
}

.heading p{
	border-top : #5ea4f3;
	background color : #f7fbff;
}
.heading{
	align-items: center;
	padding:10%;
    
}
